<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<html>
<head>
    <title>Title</title>
</head>
<body>
<div id="app">
    <label>
        <input type="radio" name="sex" value="男" v-model="sex"> 男
    </label>
    <label>
        <input type="radio" name="sex" value="女" v-model="sex"> 女
    </label>
    <h1>您选择的是:{{sex}}</h1>
</div>
<script src="../../js/vue.js"></script>
<script>
    const app = new Vue({
        el:"#app",
        data:{
            sex:""
        }
    })
</script>
</body>
</html>